USE [NailsApp]
GO
/****** Object:  StoredProcedure [dbo].[sp_inserirCliente]    Script Date: 13/04/2026 23:40:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[sp_inserirCliente] 

 @Nome NVARCHAR(100),
 @LoginCliente NVARCHAR(100),
 @Email NVARCHAR(100),
 @Senha NVARCHAR(100),
 @CPF NVARCHAR(11),  
 @DataNascimento Date 

as 

begin
	-- verificar se o e-mail e/ou CPF já existe no banco de dados

	declare @registro int = (select count(*)  from tb_clientes where CPF = @CPF or Email = @EMAIL)
	if @registro <> 0
	begin
		select 'Já existe o cliente na base'
	end
	else
	begin
		insert into tb_clientes (
		[Nome]
      ,[LoginCliente]
      ,[Email]
      ,[Senha]
      ,[CPF]
      ,[Ativo]
      ,[DataNascimento]
      ,[DataInclusao]
      ,[DataAtualizacao]
	  )

		values
		( 
			 @Nome
			,@LoginCliente
			,@Email
			,@Senha
			,@CPF
			,1
			,@DataNascimento
			, GETDATE()
			,null
		)
	end

	declare @IdCliente int = (select SCOPE_IDENTITY())
	select * from tb_clientes with (nolock) where id = @IdCliente
end

